.homepage-section {
  padding: 20px;
  background: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.home-page-section1-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.slide-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

@media(max-width:768px){
  .slide-selector {
  display: flex;
  flex-direction: column;
 
  gap: 10px;
  margin-bottom: 20px;
}
}
.dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dropdown {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.slide-editor {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.form-group {
  margin-bottom: 15px;
}

.preview {
  margin-top: 15px;
}
.preview img {
  max-width: 200px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}
.select-slide-styling{
  margin-top: 0px;
}